@using cv.Models.Entity
@model List<TblEgitimlerim>

<div class="resume-section-content">
    <h2 class="mb-5">Eğitim Hayatım</h2>
    @foreach (var x in Model)
    {
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">@x.BASLIK</h3>
                <div class="subheading mb-3">@x.ALTBASLIK1</div>
                <div>@x.ALTBASLIK2</div>
                <p>GNO: @x.GNO</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">@x.TARIH</span></div>
        </div>
    }
</div>
